In [17]:
import yfinance as yf
import pandas as pd
from yahoo_fin import stock_info as si

## Get all stocks tickers:

In [14]:
sp_df = pd.DataFrame( si.tickers_sp500())
nasdaq_df = pd.DataFrame( si.tickers_nasdaq())
dow_df = pd.DataFrame( si.tickers_dow())
others_df = pd.DataFrame( si.tickers_other())
stocks_df = pd.concat([sp_df, nasdaq_df, dow_df, others_df])\
               .drop_duplicates()\
               .rename(columns={0: "Ticker"})\
               .assign(valid=lambda df: df.apply(lambda row: False if len(row["Ticker"]) > 4 and row["Ticker"][-1] in corrupted_stocks_l else True, axis=1))\
               .query("valid == True", engine="python")\
               .assign(ticker_obj=lambda df: df.apply(lambda row: yf.Ticker(row["Ticker"]), axis=1),
                       )

## Auxilary functions:

In [ ]:
def calc_ma(price_series, window_size):

In [16]:
stocks_df.head()

  Ticker  valid
0      A   True
1    AAL   True
2    AAP   True
3   AAPL   True
4   ABBV   True

In [18]:
msft = yf.Ticker("MSFT")

In [26]:
msft_prices_df = msft.history(period="5y", interval="1d")

In [27]:
msft_prices_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-02-08 00:00:00-05:00,84.481248,84.641338,79.819762,80.055191,55628700,0.00,0.0
2018-02-09 00:00:00-05:00,81.269999,83.746707,78.943962,83.040421,63499100,0.00,0.0
2018-02-12 00:00:00-05:00,83.567768,84.547152,82.804981,83.935036,35720300,0.00,0.0
2018-02-13 00:00:00-05:00,83.746709,84.754343,82.682573,84.594254,26407700,0.00,0.0
2018-02-14 00:00:00-05:00,83.742724,86.089144,83.648112,85.918839,34960900,0.42,0.0

In [30]:
msft_prices_df["Close"].rolling(150).mean()

Date
2018-02-08 00:00:00-05:00           NaN
2018-02-09 00:00:00-05:00           NaN
2018-02-12 00:00:00-05:00           NaN
2018-02-13 00:00:00-05:00           NaN
2018-02-14 00:00:00-05:00           NaN
                                ...
2023-02-02 00:00:00-05:00    249.665826
2023-02-03 00:00:00-05:00    249.684388
2023-02-06 00:00:00-05:00    249.674173
2023-02-07 00:00:00-05:00    249.714198
2023-02-08 00:00:00-05:00    249.791201
Name: Close, Length: 1259, dtype: float64